{% load staticfiles %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <head>
      <meta charset="utf-8">
      <title>Formulario Clientes</title>
      <link rel="stylesheet" href="{% static 'css/pedido.css' %}">
      <link rel="icon" href="{% static 'ico/car.ico' %}">
    </head>
  </head>
  <body onload="main();">
    <div class="ajustar">
          <div class="inicio">
            <p id="titulo"></p>
            <img src="{% static 'imagen/simbolomercedes.jpg' %}" id="simbolo" >
          </div>
          <div class="menu">
            <script type="text/javascript">
              function accion(){
                console.log("esta funcionando mi boton");
                var ancla = document.getElementsByClassName('nav-enlace');
                for( var  i=0; i < ancla.length; i++){
                  ancla[i].classList.toggle('desaparece');
                }
             }
            </script>
            <nav>
              <div class="menu2">
                <button type="nav-boton" id= 'botonmenu'  onclick="accion()">Menu</button>
                <a href="/mi_tienda/amg"   data-aem-linkdestinationurl="/mi_tienda/amg.html"   class="nav-enlace desaparece" data-aem-linkdestinationurl="/mi_tienda/amg.html">AMG</a>
                <a href="/mi_tienda" class="nav-enlace desaparece" data-aem-linkdestinationurl='/mi_tienda' >Principal</a>
              </div>
            </nav>
            <div class="cuadradoformulario">
                <div class="formulario">
                  <form  action="/mi_tienda/recepcion/" method="post">
                    {% csrf_token %}
                    <h1>Gracias por confiar en Mercedes-Benz</h1>
                    <h2>Datos Comprador:</h2>
                    <h3>Nombre:{{persona}}</h3>
                    <h3>Telefono:{{telefono}}</h3>
                    <h3>E-mail:{{e_mail}}</h3>
                    <h3>Producto:{{producto}}</h3>
                  </form>
                </div>
            </div>
          </div>
          <div class="abajo">
            <h1 id = "redes"> Redes Sociales</h1>
              <li class="facebook">
                <a title="Face" href="https://www.facebook.com/MercedesBenzEspana"
                target="_blank"
                data-aem-linkdestinationurl="https://www.facebook.com/MercedesBenzEspana">
                  <img class="facebook" src="{% static 'svg/facebook.svg' %}">
                </a>
              </li>
              <li class="insta">
                <a title="Instagram" href="https://www.instagram.com/mbenzespana/"
                  target="_blank"
                 data-aem-linkname="instagram"
                 data-aem-linkdestinationurl="https://www.instagram.com/mbenzespana/">
                    <img class="instagram" src="{% static 'svg/instagram.svg' %}">
                </a>
              </li>
              <li class= 'youtu'>
                <a title="YOUTUBE" href="https://www.youtube.com/user/MercedesBenzSpain"
                 target="_blank" data-aem-linkname="youtube"
                 data-aem-linkdestinationurl="https://www.youtube.com/user/MercedesBenzSpain">
                  <img class="youtube" src="{% static 'svg/youtube.svg ' %}" >
               </a>
              </li>
              <li class='tweet'>
                <a title="Twitter" href="https://twitter.com/MBenzEspana?csref=mc_sem_cn-ESP_WS_MBC_BrandOverall_Brand_PURE_EX_HYS201912633103_ci-Google_si-g_pi-kwd-16822141_cri-264403755336_ai-none"
                target="_blank"  data-aem-linkname="twitter"
                data-aem-linkdestinationurl="https://twitter.com/MBenzEspana">
                  <img class="twitter" src="{% static 'svg/twitter.svg' %}">
                </a>
              </li>
              <li class= 'pinte'>
                <a title="Pinterest" href="https://de.pinterest.com/MercedesBenz/"
                target="_blank" data-aem-linkname="pinterest"
                data-aem-linkdestinationurl="https://de.pinterest.com/MercedesBenz/">
                  <img class="pinterest" src="{% static 'svg/pinterest.svg' %}">
                </a>
              </li>
            </ul>
          </div>
      </div>
  </body>

</html>
