/* Declaracion de fuente, simbolo y cuadro gris */
@font-face {
  font-family: Corporate A BQ;
  src: url(C:\Users\julio\Desktop\3D y Laboratorios\Laboratorios\2019-2020-LTAW-Practicas\P1\mercedes.ttf);
}
.inicio{font-size: 25px; border: black 5px inset; width: 1236px; height: 60px;
        padding: 10px; text-align: center; margin:-10px -20px 0px -10px;background-image: linear-gradient(black,grey); font-family: impact ;
        }
#simbolo{ width: 300px; margin: -35px 0px 0px -920px;
}
/*colocamos la imagen del coche en el fondo*/
.menu{ width: 1246px; height: 1040px; padding: 10px; text-align: center; margin:0px -10px 0px -10px;
      background-color: black; background-size:cover; font-family: mercedes;aaaaaaaaaaaa
      }
/* declaracion del menu en la parte de arriba */
.menu2 { font-size: 20px;
        padding: 0px 20px 0px 20px;
        margin: -75px 0px 0px 400px;
        font-family: Corporate A BQ;
}
.estadisticas{
  background-image: linear-gradient(black,grey);
  width: 400px;
  height: 150px;
  padding: 25px 0px 0px 0px;
  margin: 40px 0px 0px 430px;
  color: white;
}
h1{
  text-align: center;
  font-size: 40px;
  color: white;
  margin: 70px 0px 0px 0px;
  font-family: Corporate A
}
a{
    color: white;
    padding: 0px 20px 0px 20px;
}
.desaparece{
  display: none;
 }
#botonmenu{
  margin: -80px 0px 0px -350px;
}
#fotoa{
  width: 900px;
  height: 600px;
  margin: 50px 0px 0px 0px;
}

/* declaracion del boton */
button {background-color: black;font-family: Corporate A BQ ;border-radius: 4px;
        color: white; text-align: center; display: inline-block;
        cursor: pointer; box-shadow: 0 9px #999; width: 100px;
        padding: 10px 10px 10px 10px;
        font-size: 18px;
        }
button:hover {background-color: white;}
button:active {background-color: white;  box-shadow: 0 5px #666;
               transform: translateY(4px);}


/* declaracion del video */
.video{
  background-color: black; width: 1266px; margin:0px 0px -70px -10px ; padding: 0px 0px 0px 0px; height: 380px
}
iframe{
  width:520px; height: 290px; margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 50px;
}
#textocla{
font-size: 30px; color: white; margin: 0px 0px 0px 0px; padding: 20px 0px 0px 650px; font-family:  Corporate A BQ;
}
.cla{
  width: 350px; margin: 0px 0px 20px 200px; padding: 0px 0px 0px 0px;
  transition: transform .5s;
}
.cla:hover{
  transform: scale(1.2);
}
#fa-circle{
  width: 40px; color:black;
}
#derecha{
  width: 40px;color: black;
  font-size: 40px;
  background-color: pink;
}


/* declaracion de las redes sociales */
.abajo{
  width: 1266px; height: 180px;  background-image: linear-gradient(grey ,black);  margin: -18px 0px -20px -10px;  text-align: center;
}
.facebook{width: 40px; margin: 0px 20px 0px 0px} .instagram{width: 40px;} .youtube{width: 40px;} .twitter{width: 40px;} .pinterest{width: 40px;}
li{list-style: none; display: inline-block; margin: 10px 0px 0px 50px;   }
#redes{
  font-family: Corporate A BQ;  font-size: 25px;  color: white;  text-align: center;  padding: 15px;
}
